@page "/fetchdata"
@using renamee.Shared
@using renamee.Shared.Models
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Source folder</th>
                <th>Dest folder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobs)
            {
                <tr>
                    <td>@job.LastExecutedOn.ToLocalTime()</td>
                    <td>@job.Name</td>
                    <td>@job.Options.SourceFolder</td>
                    <td>@job.Options.DestinationFolder</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Job[]? jobs;

    protected override async Task OnInitializedAsync()
    {
        jobs = await Http.GetFromJsonAsync<Job[]>("Jobs");
    }
}
