@page "/"

<PageTitle>Home</PageTitle>

<div style="position:absolute; top:30vh; width:100%; text-align:center">
    <MudImage Src="/Assets/renamee-logos_black.png"
              Alt="the renamee logo"
              Elevation="0"
              Class="rounded-lg"
              ObjectPosition="ObjectPosition.Center"
              Width="300"></MudImage>
</div>


